* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


img{
position: absolute;
top: 50%;
left: 50%;
height: 75%;
transform: translate(-50%, -50%);
}

.top{
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.top:hover{
opacity: 0;
}

.bottom{
    z-index: 5;
 
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
