* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(bee!.webp) 0 0 , pointer;
  }




img{
position: absolute;
top: 50%;
left: 50%;
height: 75%;
transform: translate(-50%, -50%);
}

.top{
    z-index: 10;
    transition: opacity 0.5s ease;
}


.bottom{
    z-index: 5;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }

.bee{
    z-index: 2;
    position: absolute;
    top: 5px;
}